@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');


body {
    background-image: url(Images/Main\ background.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; 
    padding: 0; 
}



/* Header */

#header {
    text-align: right;
    background-color: transparent;
    font-family: 'Almarai', sans-serif;
    padding-right: 20px;
    color: white;
}

#header .weather {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.List {
    margin: 0;
    position: absolute;
    top: 50px;
    right: 50px;
}

.List li {
    display: inline-block;
    margin-right: 50px;
}

.List li a {
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    position: relative;
}

.List li.active a {
    font-weight: bold;
}





/* Hero */

#Hero .Hero .Heading h1 {
    font-family: 'Almarai', sans-serif;
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 0;
}

#Hero .Hero .Heading h4 {
    font-weight: 550;
    font-family: 'Almarai', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 330px;
}




/* Sections */

.container {
    background-color: white;
    font-family: 'Almarai', sans-serif;
    width: 70%;
    opacity: 85%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.buttons {
    position: relative;
    top: -68px;
    margin-bottom: 20px;
}

.container button {
    background-color: white;
    border: none;
    opacity: 100%;
    padding: 15px 40px;
    margin: 0 10px;
    font-size: 16px;
}
.container button:hover {
    background-color: rgb(192, 190, 190);
    border: none;
    opacity: 100%;
    padding: 15px 40px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

#departureSection  {
    display: block;
}

#returnSection  {
    display: none;
}

#returnButton {
    opacity: 0.5;
}

label {
    display: block;
    margin-top: 10px;
}

/* Make form elements inline */
.form-group label,
.form-group input,
button[type="submit"] {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-right: 10px; /* Add some spacing between elements */
    margin: 0 auto;
}

input {
    width: 200px; /* Set a fixed width or adjust as needed */
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #e4e2e2;
    color: black;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
}

#submitButton {
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color: #aaaaaa;
    margin: 0 auto;
    margin-top: 30px;
}



/* Footer */