@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');



body {
    background-image: url(Images/MAIN\ BACKGROUND.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: keeps the background fixed when scrolling */
    margin: 0; /* Optional: removes default body margin */
    padding: 0; /* Optional: removes default body padding */
}


#header {
    text-align: right; /* Align the menu to the right */
    background-color: transparent; /* Background color for the header */
    font-family: 'Play', sans-serif;
    padding-right: 20px; /* Adjust padding as needed */ 
}

.List {
    list-style-type: none; /* Remove default list styling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    position: absolute;
    top: 30px;
    right: 30px;
}

.List li {
    display: inline-block; /* Display list items horizontally */
}

.List li a {
    display: inline-block;
    padding: 15px 20px; /* Adjust padding as needed */
    color: white; /* White font color */
    text-decoration: none;
    position: relative;
}

.List li:not(:first-child) a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px; /* Width of the red line */
    height: 70%; /* Height of the red line */
    background-color: red; /* Color of the red line */
}

.List li.active a {
    /* Add styles for the active link if needed */
    font-weight: bold;
    /* additional styles for active link */
}

.logo {
    height: 80px;
    width: 120px;
    margin-top: 40px;
    left: -800px;
    top: -40px;
    position: absolute;
}









.Red {
    color: red;
    font-family: 'Play', sans-serif;
    font-size: 50px;
}

.White {
    color: White;
    font-family: 'Play', sans-serif;
    font-size: 50px;
}

h3 {
    color: White;
    font-family: 'Play', sans-serif;
    font-size: 30px;
}

hr {
    border-color: red;
    width: 500px;
    margin-left: 0;
}

.Hero {
    margin-top: 350px;
    margin-left: 30px;
}

.Button {
    font-size: 17px;
    font-family: 'Play', sans-serif;
    font-weight: 600;
    padding: 10px 15px;
    color: WHite;
    background-color: transparent;
    border: 1px solid White;
    border-radius: 10px;
    cursor: pointer;
}